<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util.xsd">
    
    <!-- Bật Annotation-based configuration -->
    <!-- <context:annotation-config/> -->
    
    <!-- Quét các components -->
	<!-- <context:component-scan base-package="iuh.fit.se.annotationbased"/> -->
    
    <!-- bean definitions here -->
	<bean id="user" class="iuh.fit.se.annotationbased.xmlconfig.entities.User">
		<property name="username" value="user01"></property>
		<property name="password" value="123456"></property> 
	</bean>
	<bean id="group" class="iuh.fit.se.annotationbased.xmlconfig.entities.Group">
		<property name="groupName" value="Group 1"></property>
	</bean>
    
</beans>